extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/sub-menu.pug
include ../../mixins/product-layout.pug


block main
  //- .container.my-3
  //-   .row
  //-     .col-12
  //-       +box-head("Danh sách sản phẩm")

    .row 
      each item in products 
        .col-4.mb-3
          .product-item
            .inner-image
              img(src=item.thumbnail, alt=item.title)
            .inner-content
              h3.inner-title #{item.title}
                //- .inner-price-new #{item.priceNew}$
              .inner-price-old #{item.price}$
              .inner-discount -#{item.discountPercentage}%

  div(class="app__container")
    div(class="grid")
      div(class="grid__row app__content")
        div(class="grid__column-2")
          nav(class="category")
            h3(class="category__heading")
              i.category__heading-icon.fa-solid.fa-list
              | Danh mục
              - const pathProduct = "/products"
                +sub-menu(layoutProductsCategory, pathProduct)
            //- ul(class="category-list")
            //-   li(class="category-item category-item--active")
            //-     a(href="#" class="category-item__link") Macbook 
            //-   li(class="category-item")
            //-     a(href="#" class="category-item__link") Dell
            //-   li(class="category-item")
            //-     a(href="#" class="category-item__link") Lenovo   
        
        div(class="grid__column-10")
          div(class="home-filter")
            span(class="home-filter__label") Sắp xếp theo:  
            button(
              class="home-filter__btn btn"
              value="position-desc"
              sort-button
            ) Mới nhất
            button(
              class="home-filter__btn btn"
              value="title-asc"
              sort-button
            ) Phổ biến
            button(
              class="home-filter__btn btn"
            ) Bán chạy

            div(class="select-input")
              span(class="select-input__label") Giá
              i.fa-solid.fa-angle-down(class="select-input__icon")
              
              //- List option
              //- select(
              //-   class="select-input__list"
              //-   name="sort"
              //-   sort-select
              //- )
              //-   option(value="position-desc" class="select-input__link") Giá thấp đến cao
              //-   option(value="position-asc" class="select-input__link") Giá cao đến thấp
              ul(class="select-input__list")
                li(class="select-input__item") 
                  a(
                    href=`products?sortKey=price&sortValue=desc` class="select-input__link"
                  ) Giá thấp đến cao
                li(class="select-input__item") 
                  a(
                    href=`products?sortKey=price&sortValue=asc` class="select-input__link"
                  ) Giá cao đến thấp
            div(class="home-filter__page")
              span(class="home-filter__page-num")
                span(class="home-filter__page-current") 1
                | /14
                div(class="home-filter__page-control")
                  a(href="" class="home-filter__page-btn home-filter__page-btn--disabled")
                    i.fa-solid.fa-angle-left(class="home-filter__page-icon")
                  a(href="" class="home-filter__page-btn")
                    i.fa-solid.fa-angle-right(class="home-filter__page-icon")
          div(class="home-product") 
            div(class="grid__row")
              //- .
              +product-grid(products)
                        
                    
