mixin product-item(item)
  div(class="grid__column-2-4 ")
    //- Product item
    a(href=href=`/products/detail/${item.slug}` class="home-product-item")  
      div(class="home-product-item__img" style=`background-image: url(${item.thumbnail})`) 
      if(item.featured == "1")
        div(class="home-product-item__favourite")
          i.fa-solid.fa-check
          span Nổi bật
      h4(class="home-product-item__name") #{item.title}
        
      div(class="home-product-item__price") 
        span(class="home-product-item__price-old") #{item.price}$
        span(class="home-product-item__price-current") #{item.priceNew}$
      div(class="home-product-item__sale-off")
        span(class="home-product-item__sale-off-percent") -#{item.discountPercentage}%
        span(class="home-product-item__sale-off-label") GIẢM
                        
                    
